<div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-contact-form></app-contact-form>
        </div>
        <div class="col-md-6">
            <app-async-validators></app-async-validators>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <app-change-password-form></app-change-password-form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </div>
</div>