<form #f="ngForm" (ngSubmit)="submit(f)">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input ngModel #firstName="ngModel" (change)="log(firstName)" required minlength="4" maxlength="10" id="firstName" name="firstName" type="text" class="form-control" />
        <div class="alert alert-danger" *ngIf="firstName.touched &&!firstName.valid">First name Required</div>
        <div class="alert alert-danger" *ngIf="firstName.errors?.minlength">Name mini length is {{firstName.errors.minlength.requiredLength}}</div>

    </div>
    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea id="comment" cols="30" rows="10" class="form-control"></textarea>
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Submit</button> {{f.value |json}}
</form>